@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", sans-serif;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

/*******************************
 * フォントサイズ
 *******************************/
html	{ font-size: 6.25%; }
body,
input	{ font-size: 18rem; }
header	{ font-size: 24rem; }

/*******************************
 * マージン
 *******************************/
 header,
 article,
 section { margin-bottom: 20rem; }

/*******************************
 * 共通タグ
 *******************************/
html, body {
	height: 100%;
}

body {
	background-color: #ffffe0;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

input[type="button"] {
	width: 120rem;
	margin-left: 30rem;
}
/*******************************
 * ヘッダー
 *******************************/
header {
	background-color: #e6e6fa;
	border-top: solid 1px #999999;
	border-bottom: solid 1px #999999;
	margin-top: 0.5%;
}
header ul {
	display: table;
	width: 100%;
	border-spacing: 4rem;
}
header ul li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
header ul li:nth-child(1){
	width: 15%;
	background-color: #b0c4de;
	border: solid 1px #4169e1;
}
header ul li:nth-child(2){
	width: 85%;
	font-weight: bold;
}
header li a {
	display: block;
	color: #191970;
}

/*******************************
 * 共通クラス
 *******************************/
.hidden { display: none; }

.posLeft, .posCenter, .posRight, table.display_v {
	margin-left: auto;
	margin-right: auto;
}
.posLeft   { text-align: left; }
.posCenter { text-align: center; }
.posRight  { text-align: right; }

/* テーブル */
table.display_v {
	border-collapse: collapse;
    border-spacing: 0;
}

table.display_v input:not([type="button"])  {
	width: 100%;
}
table.display_v th {
	font-weight: normal;
	text-align: center;
	padding: 1rem 3rem;
}
table.display_v th,
table.display_v td {
	border: solid 1px #ffffff;
}
table.display_v tr:nth-child(odd){
	background: #e6e6fa;
}
table.display_v tr:nth-child(even){
	background: #f0f8ff;
}
table.display_v tr:first-child {
	background: #6495ed;
	color: #ffffff;
}
table.display_v tr.non-line {
	background-color: transparent;
}
table.display_v tr.non-line td {
	padding: 10rem 0;
	border: none;
	text-align: right;
}
