@CHARSET "UTF-8";

article {
	font-size: 0;
	padding: 2%;
}

article section {
	font-size: 3.2rem;
	width: calc(100% / 3);
	display: inline-block;
	vertical-align: top;
}

section li {
	text-align: center;
	border: solid 1px #aaaaaa;
	margin: 6% 2%;
	background-color: #eeeeee;
}

section li:hover {
	background-color: #87cefa;
}

section li a {
	display: block;
	color: #4169e1;
}
section li a:hover {
	color: white;
}
}