@CHARSET "UTF-8";

section {
	padding: 2%;
	overflow: hidden;
}
div.left {
	float: left;
	width: 60%;
}
div.right {
	float: right;
	width: 38%;
}


table th {
	font-weight: normal;
	text-align: center;
	width: 15%;
}
table th:nth-of-type(3) {
	width: 55%;
}

thead th:nth-child(1), tbody td:nth-child(1), tfoot td:nth-child(1){ width: 12.0rem; }
thead th:nth-child(2), tbody td:nth-child(2), tfoot td:nth-child(2){ width: 12.0rem; }
thead th:nth-child(3), tbody td:nth-child(3), tfoot td:nth-child(3){ width: 30.0rem; }
thead th:nth-child(4), tbody td:nth-child(4), tfoot td:nth-child(4){ width: 12.0rem; }
