@CHARSET "UTF-8";

#sid {
	float:left;
	width:10%;
	height:40px;
	margin:0px;
}

#pid {
	width:90%;
	height:40px;
	font-size:40px;
	margin:0px;
	text-align:center;
}
#clear {
	clear:both
}