@CHARSET "UTF-8";


.sid {
	float:left;
	width:10%;
	height:46px;
	margin:0px;
	padding: 0px;
	border: solid;
}

.pid {
	width:90%;
	height:40px;
	font-size:35px;
	margin: 0px;
	margin-left: 10%;
	text-align:center;
	border: solid;
}
.clear {
	clear:both
}